@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- .m‑feature‑wrap: Masaüstünde display:none olur -->
<div class="m-feature-wrap">
    <div class="m-feature-grid">
        <div class="m-feature-item">
            <p class="m-feature-title">İmarlı</p>
            <p class="m-feature-sub">İnşaata Hazır Arsalar</p>
        </div>

        <div class="m-feature-item">
            <p class="m-feature-title">Taksit Avantajı</p>
            <p class="m-feature-sub">24 Ay Taksit</p>
        </div>

        <div class="m-feature-item">
            <p class="m-feature-title">+50 Yıl</p>
            <p class="m-feature-sub">Sektör Deneyimi</p>
        </div>

        <div class="m-feature-item">
            <p class="m-feature-title">Tapulu</p>
            <p class="m-feature-sub">Değerlenecek Arsalar</p>
        </div>
    </div>
</div>
