

<div class="fixed-social">
    <div class="social-item twitter">
        <a rel="noopener noreferrer" href="https://x.com/bereketilarsa" target="_blank">
            <p>X Twitter Sayfası<i class="fa-brands fa-x-twitter"></i></p>
        </a>
    </div>
    <div class="social-item instagram">
        <a rel="noopener noreferrer" href="https://www.instagram.com/bereketli_topraklar/" target="_blank">
            <p>Instagram Sayfası<i class="fa-brands fa-instagram"></i></p>
        </a>
    </div>
    <div class="social-item facebook">
        <a rel="noopener noreferrer" href="https://www.facebook.com/bereketliemlak" target="_blank">
            <p>Facebook Sayfası<i class="fa-brands fa-facebook"></i></p>
        </a>
    </div>
    <div class="social-item linkedin">
        <a rel="noopener noreferrer" href="https://www.linkedin.com/company/bereketlitopraklar/?originalSubdomain=tr" target="_blank">
            <p>LinkedIn Sayfası<i class="fa-brands fa-linkedin"></i></p>
        </a>
    </div>
    <div class="social-item telegram">
        <a rel="noopener noreferrer" href="https://t.me/bereketlitopraklar" target="_blank">
            <p>Telegram Sayfası<i class="fa-brands fa-telegram"></i></p>
        </a>
    </div>
</div>